<section class="navbar">
	<div class="container">
		<div class="header__body">
			<div class="navbar_top">
				<div class="navbar_logo">
					<a href="">
						<img src="img/header_Logo.svg" alt="">
					</a>
				</div>
			</div>
			<ul class="navbar_nav">

				<li class="navbar_nav-list">
					<a href="" class="navbar_nav-link">
						Об общежитии
					</a>
				</li>
				<li class="navbar_nav-list">
					<a href="" class="navbar_nav-link">
						Талапкерге
					</a>
				</li>

				<li class="navbar_nav-list">
					<a href="" class="navbar_nav-link">
						Галерея
					</a>
				</li>
				<li class="navbar_nav-list">
					<a href="" class="navbar_nav-link">
						Байланыс
					</a>
				</li>
				<li class="navbar_nav-list">
					<a href="" class="navbar_nav-link">
						Күнтізбе
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
